<div class="contact-container py-5">
  <div class="container">
    <h2 class="text-center mb-4">Contáctanos</h2>
    <p class="text-center">Si tienes alguna pregunta, no dudes en enviarnos un mensaje.</p>
    <div class="row justify-content-center mt-5">
      <div class="col-md-8">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
           
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Tu nombre">
            <div *ngIf="isFieldInvalid('name')">
              <p class="error-message">{{ getErrorMessage('name') }}</p>
            </div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Tu correo electrónico">
            <div *ngIf="isFieldInvalid('email')">
              <p class="error-message">{{ getErrorMessage('email') }}</p>
            </div>
          </div>
          <div class="mb-3">
            <label for="message" class="form-label">Mensaje</label>
            <textarea class="form-control" id="message" formControlName="message" rows="3" placeholder="Tu mensaje"></textarea>
            <div *ngIf="isFieldInvalid('message')">
              <p class="error-message">{{ getErrorMessage('message') }}</p>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">Enviar Mensaje</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
