
<div class="container mt-5">
    <h2 class="text-center text-primary mb-4">¡Bienvenido a Nuestro Cine!</h2>
    <p class="text-center fs-5">Descubre las últimas películas, mira tráilers y encuentra horarios de funciones cerca de ti.</p>
  
    <div class="featured-movies mt-5">
      <h3 class="text-secondary mb-3">Películas Destacadas</h3>
      <div>
        <!-- Aquí irían las tarjetas de las películas -->
      <app-carousel></app-carousel>
      </div>
    </div>
  
    <div class="about-section mt-5 py-4 border-top">
      <h3 class="text-secondary mb-3">Sobre Nosotros</h3>
      <p>Estamos apasionados por las películas y queremos brindarte la mejor experiencia cinematográfica. Visita nuestra página de <a routerLink="/about" class="text-decoration-none">Acerca de</a> para aprender más.</p>
    </div>
  
    <div class="contact-section mt-5 py-4 border-top">
      <h3 class="text-secondary mb-3">Contáctanos</h3>
      <p>¿Tienes preguntas o comentarios? Nos encantaría escuchar de ti. Contáctanos en nuestra página de <a routerLink="/contact" class="text-decoration-none">Contacto</a>.</p>
    </div>
  </div>
  
  